In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [84]:
df=pd.read_csv('survey_responses.csv')

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 19 columns):
Career                                                      2958 non-null object
Citizenship                                                 2958 non-null object
Nationality                                                 2958 non-null object
Year since Matriculation                                    2958 non-null int64
Year of Study                                               2958 non-null int64
Primary Programme                                           2958 non-null object
Gender                                                      2958 non-null object
Department                                                  2958 non-null object
Housing Type                                                2958 non-null object
Q1-How many events have you Volunteered in ?                2958 non-null int64
Q2-How many events have you Participated in ?               2958 non-null int64
Q3-How many activities are you Interested in ?              2958 non-null int64
Q4-How many activities are you Passionate about ?           2958 non-null int64
Q5-What are your levels of stress ?                         2958 non-null int64
Q6-How Satisfied You are with your Student Life ?           2958 non-null int64
Q7-How much effort do you make to interact with others ?    2940 non-null float64
Q8-About How events are you aware about ?                   2940 non-null float64
response_id                                                 2958 non-null int64
Q9-What is an ideal student life ?                          2371 non-null object
dtypes: float64(2), int64(9), object(8)
memory usage: 439.2+ KB

In [86]:
df.describe()

,Year since Matriculation,Year of Study,Q1-How many events have you Volunteered in ?,Q2-How many events have you Participated in ?,Q3-How many activities are you Interested in ?,Q4-How many activities are you Passionate about ?,Q5-What are your levels of stress ?,Q6-How Satisfied You are with your Student Life ?,Q7-How much effort do you make to interact with others ?,Q8-About How events are you aware about ?,response_id
count,2958.000000,2958.000000,2958.000000,2958.000000,2958.000000,2958.000000,2958.000000,2958.000000,2940.000000,2940.000000,2958.000000
mean,2.207235,2.206220,1.248141,1.493577,2.733942,3.184246,3.091954,1.925287,1.963265,2.082993,1479.500000
std,1.102763,1.099729,1.480097,0.958274,1.269236,1.969894,1.653537,0.562162,0.575096,0.642636,854.045374
min,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,1.000000,1.000000,0.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,740.250000
50%,2.000000,2.000000,1.000000,1.000000,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,1479.500000
75%,3.000000,3.000000,2.000000,2.000000,3.000000,4.000000,4.000000,2.000000,2.000000,2.000000,2218.750000
max,6.000000,5.000000,11.000000,5.000000,8.000000,11.000000,9.000000,3.000000,3.000000,4.000000,2958.000000

In [87]:
df.isnull().sum()

Career                                                        0
Citizenship                                                   0
Nationality                                                   0
Year since Matriculation                                      0
Year of Study                                                 0
Primary Programme                                             0
Gender                                                        0
Department                                                    0
Housing Type                                                  0
Q1-How many events have you Volunteered in ?                  0
Q2-How many events have you Participated in ?                 0
Q3-How many activities are you Interested in ?                0
Q4-How many activities are you Passionate about ?             0
Q5-What are your levels of stress ?                           0
Q6-How Satisfied You are with your Student Life ?             0
Q7-How much effort do you make to interact with others ?     18
Q8-About How events are you aware about ?                    18
response_id                                                   0
Q9-What is an ideal student life ?                          587
dtype: int64

In [88]:
df['Q7-How much effort do you make to interact with others ?']=df['Q7-How much effort do you make to interact with others ?'].fillna(value=df['Q7-How much effort do you make to interact with others ?'].mean())

In [89]:
df['Q8-About How events are you aware about ?']=df['Q8-About How events are you aware about ?'].fillna(value=df['Q8-About How events are you aware about ?'].mean())

In [90]:
df.isnull().sum()

Career                                                        0
Citizenship                                                   0
Nationality                                                   0
Year since Matriculation                                      0
Year of Study                                                 0
Primary Programme                                             0
Gender                                                        0
Department                                                    0
Housing Type                                                  0
Q1-How many events have you Volunteered in ?                  0
Q2-How many events have you Participated in ?                 0
Q3-How many activities are you Interested in ?                0
Q4-How many activities are you Passionate about ?             0
Q5-What are your levels of stress ?                           0
Q6-How Satisfied You are with your Student Life ?             0
Q7-How much effort do you make to interact with others ?      0
Q8-About How events are you aware about ?                     0
response_id                                                   0
Q9-What is an ideal student life ?                          587
dtype: int64

In [91]:
obj = df.dtypes == np.object
df.columns[obj]
ds=df.drop(columns=['Career','Citizenship','Nationality','Primary Programme','Department','Q9-What is an ideal student life ?'])
obj = ds.dtypes == np.object
ds.columns[obj]
dummydf = pd.DataFrame()
for i in ds.columns[obj]:
    dummy=pd.get_dummies(ds[i], drop_first=True)
dummydf=pd.concat([dummydf, dummy], axis=1)
ds2 = pd.get_dummies(ds, drop_first=False)
ds2.head()

,Year since Matriculation,Year of Study,Q1-How many events have you Volunteered in ?,Q2-How many events have you Participated in ?,Q3-How many activities are you Interested in ?,Q4-How many activities are you Passionate about ?,Q5-What are your levels of stress ?,Q6-How Satisfied You are with your Student Life ?,Q7-How much effort do you make to interact with others ?,Q8-About How events are you aware about ?,response_id,Gender_F,Gender_M,Housing Type_Halls,Housing Type_Out of Campus,Housing Type_Residences,Housing Type_Residential Colleges
0,2,2,0,1,3,1,1,2,2.0,2.0,1,1,0,0,0,1,0
1,1,1,0,1,2,3,1,2,2.0,3.0,2,1,0,0,1,0,0
2,2,2,3,1,1,5,2,2,2.0,2.0,3,0,1,1,0,0,0
3,2,2,3,4,3,3,7,1,1.0,1.0,4,0,1,1,0,0,0
4,3,3,4,3,4,5,4,2,2.0,2.0,5,1,0,0,1,0,0

In [92]:
ds2.isnull().sum()

Year since Matriculation                                    0
Year of Study                                               0
Q1-How many events have you Volunteered in ?                0
Q2-How many events have you Participated in ?               0
Q3-How many activities are you Interested in ?              0
Q4-How many activities are you Passionate about ?           0
Q5-What are your levels of stress ?                         0
Q6-How Satisfied You are with your Student Life ?           0
Q7-How much effort do you make to interact with others ?    0
Q8-About How events are you aware about ?                   0
response_id                                                 0
Gender_F                                                    0
Gender_M                                                    0
Housing Type_Halls                                          0
Housing Type_Out of Campus                                  0
Housing Type_Residences                                     0
Housing Type_Residential Colleges                           0
dtype: int64

In [93]:
ds2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2958 entries, 0 to 2957
Data columns (total 17 columns):
Year since Matriculation                                    2958 non-null int64
Year of Study                                               2958 non-null int64
Q1-How many events have you Volunteered in ?                2958 non-null int64
Q2-How many events have you Participated in ?               2958 non-null int64
Q3-How many activities are you Interested in ?              2958 non-null int64
Q4-How many activities are you Passionate about ?           2958 non-null int64
Q5-What are your levels of stress ?                         2958 non-null int64
Q6-How Satisfied You are with your Student Life ?           2958 non-null int64
Q7-How much effort do you make to interact with others ?    2958 non-null float64
Q8-About How events are you aware about ?                   2958 non-null float64
response_id                                                 2958 non-null int64
Gender_F                                                    2958 non-null uint8
Gender_M                                                    2958 non-null uint8
Housing Type_Halls                                          2958 non-null uint8
Housing Type_Out of Campus                                  2958 non-null uint8
Housing Type_Residences                                     2958 non-null uint8
Housing Type_Residential Colleges                           2958 non-null uint8
dtypes: float64(2), int64(9), uint8(6)
memory usage: 271.6 KB

# Predicting satisfaction levels

In [94]:
X = ds2.drop(['Q6-How Satisfied You are with your Student Life ?','response_id','Year since Matriculation','Q1-How many events have you Volunteered in ?','Q2-How many events have you Participated in ?','Q3-How many activities are you Interested in ?','Q4-How many activities are you Passionate about ?','Q8-About How events are you aware about ?'],axis=1)
print(X.columns)
X=X.values

Index(['Year of Study', 'Q5-What are your levels of stress ?',
       'Q7-How much effort do you make to interact with others ?', 'Gender_F',
       'Gender_M', 'Housing Type_Halls', 'Housing Type_Out of Campus',
       'Housing Type_Residences', 'Housing Type_Residential Colleges'],
      dtype='object')

In [95]:
y =ds2['Q6-How Satisfied You are with your Student Life ?'].values

In [96]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.5, random_state = 0)
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

Random forest

In [97]:
from sklearn.ensemble import RandomForestClassifier
# Creating a RAndom Forest Classifier
clf = RandomForestClassifier(n_estimators = 40, n_jobs= 2, random_state= 2)
# Training the Classifier
clf.fit(X_train, y_train)
# Applying the trained data to predict test data
y_pred = clf.predict(X_test)
y_pred_train=clf.predict(X_train)
from sklearn import metrics
from sklearn.metrics import confusion_matrix
print('Testing Accuracy',metrics.accuracy_score(y_test, y_pred))
print('Training Accuracy',metrics.accuracy_score(y_train, y_pred_train))

Testing Accuracy 0.6910074374577417
Training Accuracy 0.8025693035835023

Logistic Regression

In [98]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
y_pred_train=lr.predict(X_train)
from sklearn import metrics
from sklearn.metrics import confusion_matrix
print('Testing Accuracy',metrics.accuracy_score(y_test, y_pred))
print('Training Accuracy',metrics.accuracy_score(y_train, y_pred_train))

Testing Accuracy 0.7275185936443543
Training Accuracy 0.7288708586883029

Decision Trees

In [99]:
from sklearn import tree
dt= tree.DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
y_pred_train=dt.predict(X_train)
from sklearn import metrics
from sklearn.metrics import confusion_matrix
print('Testing Accuracy',metrics.accuracy_score(y_test, y_pred))
print('Training Accuracy',metrics.accuracy_score(y_train, y_pred_train))

Testing Accuracy 0.676132521974307
Training Accuracy 0.8025693035835023

# Predicting stress levels

In [100]:
X = ds2.drop(['Q5-What are your levels of stress ?','response_id','Year since Matriculation','Q1-How many events have you Volunteered in ?','Q2-How many events have you Participated in ?','Q3-How many activities are you Interested in ?','Q4-How many activities are you Passionate about ?','Q8-About How events are you aware about ?'],axis=1)
print(X.columns)
X=X.values

Index(['Year of Study', 'Q6-How Satisfied You are with your Student Life ?',
       'Q7-How much effort do you make to interact with others ?', 'Gender_F',
       'Gender_M', 'Housing Type_Halls', 'Housing Type_Out of Campus',
       'Housing Type_Residences', 'Housing Type_Residential Colleges'],
      dtype='object')

In [101]:
y =ds2['Q5-What are your levels of stress ?'].values

In [102]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.5, random_state = 0)
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.fit_transform(X_test)

Random forest

In [103]:
from sklearn.ensemble import RandomForestClassifier
# Creating a RAndom Forest Classifier
clf = RandomForestClassifier(n_estimators = 40, n_jobs= 2, random_state= 2)
# Training the Classifier
clf.fit(X_train, y_train)
# Applying the trained data to predict test data
y_pred = clf.predict(X_test)
y_pred_train=clf.predict(X_train)
print('Testing Accuracy',metrics.accuracy_score(y_test, y_pred))
print('Training Accuracy',metrics.accuracy_score(y_train, y_pred_train))

Testing Accuracy 0.24002704530087898
Training Accuracy 0.40973630831643004

Logistic Regression

In [104]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
y_pred_train=lr.predict(X_train)
from sklearn import metrics
from sklearn.metrics import confusion_matrix
print('Testing Accuracy',metrics.accuracy_score(y_test, y_pred))
print('Training Accuracy',metrics.accuracy_score(y_train, y_pred_train))

Testing Accuracy 0.2839756592292089
Training Accuracy 0.27586206896551724

Decision Trees

In [105]:
from sklearn import tree
dt= tree.DecisionTreeClassifier()
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
y_pred_train=dt.predict(X_train)
from sklearn import metrics
from sklearn.metrics import confusion_matrix
print('Testing Accuracy',metrics.accuracy_score(y_test, y_pred))
print('Training Accuracy',metrics.accuracy_score(y_train, y_pred_train))

Testing Accuracy 0.24543610547667344
Training Accuracy 0.41041244083840434